<%- include('./header.ejs') %>

    <h4>Add New Student</h4>

    <div class="container">

        <form action="/student/save" method="post">
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-12">
                <input type="number" name="roll" class="form-control" placeholder="Roll Number" required>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-12">
                <input type="text" name="name" class="form-control" placeholder="Name" required>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-12">
                <select class="form-control" name="branch" required>
                    <option value="">Choose Branch</option>
                    <option>CS</option>
                    <option>IT</option>
                    <option>AI</option>
                    <option>ME</option>
                </select>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-12">
                <input type="number" name="marks" class="form-control" placeholder="Marks" required>
            </div>
        </div>

            <button class="btn btn-outline-info mt-3">Save Student</button>
        </form>
    </div>

    </body>
</html>