<html>
    <head>
        <title>Student Portal</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    </head>

    <body>
        <h1 class="alert-success text-center">Student Records Management</h1>
        <a href="/student/home"> <b>Home</b> </a> &nbsp;
        <a href="/student/add"> <b>Add Student</b> </a> &nbsp;
        <hr>